---
title: Posts & Miscellanea
permalink: /posts/
---

<p>
    This is a collection of posts, thoughts, and other miscellanea that I have written over the years. I hope you find them interesting.
</p>

<div class="posts">
    {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
    {% if sorted_posts.size == 0 %}
        <p class=" fs-5">Nothing yet! Expect some in the future ...</p>
    {% else %}
        {% for post in sorted_posts %}
        {% if forloop.first %}
            <div class="post border-bottom border-top border-black py-1">
        {% else %}
            <div class="post border-bottom border-black py-1">
        {% endif %}
            <!-- <hr class="text-black"> -->
            <h2 class="fs-4 mt-2"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="post-meta fs-6 text-muted">{{ post.date | date: "%B %-d, %Y" }} | {{ site.author }}</p>
            <p>{{ post.excerpt }}</p>
        </div>
        {% endfor %}
        <!-- <hr class="text-black"> -->
    {% endif %}
</div>