
<nav class="navbar navbar-expand-md border-bottom border-black border- bg-primary-subtle ">
  <!-- <div class="container-fluid"> -->
  <div class="container-xl flex-wrap flex-lg-nowrap px-md-0">
        <a class="navbar-brand p-0 me-5" href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/images/favicon.png' | relative_url}}" alt="logo" width="60  "
            class="d-inline-block align-top m-0">
          <!-- <span class="navbar-name ms-2">{{ site.title }} </span> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <hr class="d-md-none">

          <ul class="navbar-nav me-auto">
            {% for item in site.data.navigation %}
            {% if item.subpages %}
            <li class="nav-item dropdown">
              {% for subpage in item.subpages %}
              {% if page.url==subpage.link %}
              {% assign active = true %}
              {% endif %}
              {% endfor %}
              <a class="nav-link {% if active %} active {% endif %} dropdown-toggle" href="#"
                id="navbarDropdown{{ forloop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ item.name }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ forloop.index }}">
                {% for subpage in item.subpages %}
                <li><a class="dropdown-item" href="{{ subpage.link | relative_url }}">{{ subpage.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{{ item.link | relative_url }}" {% if page.url==item.link %} class="nav-link active" {% else %}
                class="nav-link" {% endif %}>{{ item.name }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <hr class="d-md-none">
          
          <div class="d-flex align-items-center">
            {% for social in site.data.socials %}
            {% if social.icon == null %}
            <a href="{{ social.url }}" target="_blank" title="{{ social.name }}" class="nav-link px-2 text-dark ">{{ social.name }}</a>
            {% else %}
            <a href="{{ social.url }}" target="_blank" title="{{ social.name }}" class="nav-link px-2 text-dark "><i class="{{ social.icon }} fs-4"></i></a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
  </div>
</nav>
