<div class="row g-0 overflow-hidden flex-md-row mb-3 brutalist-card push-on-hover">
    <div class="col-md-auto d-flex justify-content-center align-items-center ps-md-3 py-md-3 pt-3">
        {% if include.project.cover_image contains '.mp4' %}
        <video src="{% include fix_link.html link=include.project.cover_image %}" class="object-fit-contain" width="270" alt="paper cover" muted autoplay loop playsinline></video>
        {% else %}
        <img src="{% include fix_link.html link=include.project.cover_image %}" class="object-fit-contain" width="270" alt="paper cover">
        {% endif %}
    </div>
    <div class="col-md p-3 ps-md-3 d-flex flex-column position-static">
        <!-- <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong> -->
        <h3 class="mb-1 fs-5">{{ include.project.title }}</h3>
        <div class="mb-1 text-body-secondary small">
            <!-- add names of authors -->
            {% for person in include.project.authors %}
            {{ person.name }}  {% if forloop.last == false %} , {% endif %}
            {% endfor %}
            | {{ include.project.date | date: "%B %Y" }} {{ include.project.release_date | date: "%B %Y" }}
        </div>
        <p class="mb-auto">{{ include.project.description }}</p>
        <div class="d-flex justify-content-start gap-2">
            <!-- {% for link in include.project.links %}
            <a href="{{ link.url }}" class="btn btn-sm btn-dark rounded-pill mb-2">
                {% if link.icon %}
                <i class="bi {{ link.icon }}"> </i>
                {% endif %}
                {{ link.name }}
            </a>
            {% endfor %} -->
            <a href="{{ include.project.url | relative_url }}" class="icon-link gap-1 icon-link-hover stretched-link text-decoration-none">
                More <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</div>