---
layout: default
---

<div class="post">
    <div class="mt-4 px-0 row justify-content-center">
        <div class="col-md-8">
            <div class="post-title mb-3">
                {% if page.title != "none" %}
                <h1 class="page-title mb-1">{{ page.title }}</h1>
                {% endif %}
                {% if page.date %}
                <span class="fs-6 text-muted">{{ page.date | date: "%B %-d, %Y" }} | By {{ site.author }} </span>
                {% endif %}
                {% if page.show_toc %}
                <div class="toc mt-3">
                    <p class="d-inline-flex mb-0">
                        <a class="fs-5 text-decoration-none" data-bs-toggle="collapse" href="#toc_collapse" role="button" aria-expanded="false" aria-controls="toc_collapse">
                            <i id="chevron-icon" class="bi bi-chevron-right"></i> Table of Contents
                        </a>
                      </p>
                      <div class="collapse" id="toc_collapse">
                        <div class="pt-2">
                            <hr>
                            {% include toc.html html=content %}
                            <hr>
                        </div>
                      </div>

                </div>
                {% endif %}
            </div>
            {{ content }}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var chevronIcon = document.getElementById('chevron-icon');
        var tocCollapse = document.getElementById('toc_collapse');
    
        tocCollapse.addEventListener('show.bs.collapse', function () {
            chevronIcon.classList.remove('bi-chevron-right');
            chevronIcon.classList.add('bi-chevron-down');
        });
    
        tocCollapse.addEventListener('hide.bs.collapse', function () {
            chevronIcon.classList.remove('bi-chevron-down');
            chevronIcon.classList.add('bi-chevron-right');
        });
    });
    </script>